.Table__header-item {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;

  & div {
    display: flex;
    justify-content: center;
    color: #ffffff;
    & img {
      margin-right: 5px;
      height: 14px;
    }
  }
}

.Table__header-item_active {
  // background-color: var(--color-active);

  & [data-direction="ascending"] {
    display: block;
    transform: rotate(180deg);
  }
  & [data-direction="descending"] {
    display: block;
  }
}

.Direction-arrow {
  display: none;
}
