@import 'shared/scss/mixines.scss';

.SearchTransactionPanel {
    position: relative;
    display: flex;
}

.SearchTransactionPanel__error {
    position: absolute;
    right: 0;
    bottom: -18px;
    font-size: 12px;
    color: var(--color_error);
    @include notBreakWord
}