.Table-controls {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.Table-controls__print-wrapper {
  display: flex;
  align-items: center;
}
.Table-controls__btn-print {
  width: 30px;
  height: 24px;
  background-position: 0 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-right: 10px;
}
.Table-controls__btn-print_pdf {
  background-image: url("../../assets/images/pdf-icon.svg");
}
.Table-controls__btn-print_xls {
  background-image: url("../../assets/images/xls-icon.svg");
}
.Table-controls__search {
  .MuiFormControl-root {
    margin: 0 !important;
    margin-right: 10px !important;
  
    & em {
      font-style: normal;
    }
  }
}
.Table-controls-selec-field-option {
  font-style: normal;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: var(--color-active)!important;
  color: #ffffff;
}