:root {
  --border-radius: 4px;
  --background: #ffffff;

  --color-dark-grey: #b3b3b3;
  --color-light-grey: #dcdcdc;
  --color-light-yellow: #fffeee;
  --color-active: cornflowerblue;

  --font: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-color: rgba(0, 0, 0, 0.87);
  --font-color-grey: #999999;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-width:360px;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color);
  background-color: var(--background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
a,
p,
button,
span,
textarea,
label,
input {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  color: var(--font-color);
}